@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Arrows:wght@400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Protest+Revolution&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Edu+AU+VIC+WA+NT+Arrows:wght@400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playwrite+HR+Lijeva:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Protest+Revolution&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

.contenedor-beneficios{
    width:100vw;
    margin:auto;
    text-align: center;
    /* color: white; */
    margin-bottom: 80px;
    padding: 3px;
    position: relative;
    box-sizing: border-box;

}

.titulo-beneficios{
 color:rgb(25, 100, 82);
 /* background-color: rgb(250, 168, 114); */
 width: 70%;
 margin-top: 20px;
 font-size: 5vw;
 font-weight: 300;
 margin-bottom: 10px;
 font-family: anton;
 line-height: 1;    
 

 strong {
    /* color:rgb(52, 197, 88); */
    font-weight: 500;
    font-size: 2em;
    background: linear-gradient(to right, #fc6f4c, #f8bd90); /* Fondo degradado */
  -webkit-background-clip: text; /* Para asegurar que el fondo se recorte solo al texto */
  color: transparent; /* Hacer el texto transparente para que solo se vea el fondo */
    
}

 
}



.carrusel-beneficios{
    display: flex;
    /* background-color: rgb(15, 58, 95); */
    border-radius: 10px;
    width: 40%;
    flex-wrap: wrap;
    margin: auto;
    align-items: center;
    justify-content: center;

}
.palmera-izquierda, .palmera-derecha{
position: absolute;
width: 30%;
filter: invert(37%) sepia(80%) saturate(0%) brightness(150%);
}

.palmera-izquierda{
    left: 0;
    top: 250px;
}

.palmera-derecha{
    right: 0;
    top: 0;
}

@media (max-width: 770px) {
    .palmera-derecha{
       display: none;
    }
    .palmera-izquierda{
        top: 120px;
        height: 500px;
    }

    .titulo-beneficios{
        font-size: 7.5vw;
        position: relative;
        left: 24%;

        strong{
            font-size: 9vw;
        }
    }

    
}