.contenedor-presentaciones{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100wv;
    overflow-x: hidden;
    margin-top: 10px;
}

.contenedor-info-presentaciones{
    width: 45%;
    height: 400px;
    background-color: rgb(179, 39, 39);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    ul{
        width: 90%;
        height: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 15px;

    }

    ul li{
        list-style: none;
        background-color: rgb(241, 119, 103);
        border-radius: 5px;
        width: 90%;
        height: 80%;
        padding: 4px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;


    }
}

.logo-presentaciones{
    width: 200px;
    height: 250px;
}

.titulo-precios{
    color: rgb(34, 113, 94);
    font-size: 3rem;
    font-family: "Playwrite HR Lijeva", cursive;
    font-weight: 300;
}

.imagen-presentacion{
    width: 500px;
    height: 500px;
}

.palmerita{
    color: white;
    padding: 7px;
}
.dinero-icono{
    color:rgb(29, 118, 93);
    font-size:3rem;
    transform: rotate(10deg);
}

@media (max-width: 920px) {
    .contenedor-presentaciones{
        flex-direction: column;
    }




    /* .imagen-presentacion{
        width: 100%;
        height: 50%;
    } */

    .contenedor-info-presentaciones{
        width: 80%;
        margin-top: -50px;
    }
}

@media (max-width: 550px) {
    .imagen-presentacion{
        width: 100%;
        height: 50%;
    }
}
